#Videos {
    text-align: center;
}

h1 {
    margin: 5px;
}

#inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 50%;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

#videoDisplay {
    position: relative;
    text-align: center;
    margin: auto;
}
