#Music {
    text-align: center;
}

h1 {
    margin: 5px;
}

#inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: center;
}

.soundCloudBox{
    width: 400px;
    height: 300px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}
